/WebApplicationJavaMain/dist/
WebApplicationJavaMain/web/guitars/ja.png
WebApplicationJavaMain/build/web/guitars/ja.png
WebApplicationJavaMain/build/web/indexMain.xhtml
WebApplicationJavaMain/nbproject/project.xml
WebApplicationJavaMain/web/indexMain.xhtml